<head>
    <link rel="stylesheet" href="/css/filtersCss.css">
</head>
<body>
    <div id="filters">
        <div class="filtersDiv">
            <div class="filter font">
                <div><i class="fa-solid fa-fire"></i></div>
                <div>Trending</div>
            </div>
            <div class="filter font">
                <div><i class="fa-solid fa-bed"></i></div>
                <div>Rooms</div>
            </div>
            <div class="filter font">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <div>Iconic Cities</div>
            </div>
            <div class="filter font">
                <div><i class="fa-solid fa-mountain"></i></div>
                <div>Mountains</div>
            </div>
            <div class="filter font">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <div>Castles</div>
            </div>
            <div class="filter font">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <div>Amazing Pool</div>
            </div>
            <div class="filter font">
                <div><i class="fa-solid fa-campground"></i></div>
                <div>Camping</div>
            </div>
            <div class="filter font">
                <div><i class="fa-solid fa-cow"></i></div>
                <div>Farms</div>
            </div>
            <div class="filter font">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <div>Arctic</div>
            </div>
        </div>
        <div class="toggleBtnDiv font">
            <label for="toggleBtnCheckbox">Display total after taxes</label>
            <input type="checkbox" name="toggleBtnCheckbox" id="toggleBtnCheckbox">
            <div class="toggleBtn" id="toggleBtnDiv23">
                <div id="toggleBtn"></div>
            </div>
        </div>
    </div>
    <hr id="filtersHR">
</body>