<div class="footer">
    <p id="footerSupport">Support</p>
    <hr>
    <div class="footerFirstChild">
        <div class="footerFirstOne">
            <p class="footerOneHead">Contacts</p>
            <p>
                <ul class="footerOneContentList">
                    <li><i class="fa-sharp fa-solid fa-phone"></i>&nbsp;&nbsp;7819077469</li>
                    <li><i class="fa-sharp fa-solid fa-phone"></i>&nbsp;&nbsp;9411202228</li>
                    <li><i class="fa-sharp fa-solid fa-phone"></i>&nbsp;&nbsp;8476057058</li>
                    <li><i class="fa-sharp fa-solid fa-phone"></i>&nbsp;&nbsp;7906215460</li>
                </ul>
            </p>
        </div>
        <div class="footerFirstTwo">
            <p class="footerOneHead">Mail Us on</p>
            <p>
                <ul class="footerOneContentList">
                    <li>
                        <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;
                        dubeysatyam149@gmail.com
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;
                        dubeyutkarsh149@gmail.com
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;
                        226301229@gkv.ac.in
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;
                        dubeysupriya93@gmail.com
                    </li>
                </ul>
            </p>
        </div>
        <div class="footerFirstTwo">
            <p class="footerOneHead">Follow Us on</p>
            <p>
                <ul class="footerOneContentList">
                    <li>
                        <a href="http://">
                            <i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;
                            @wanderlust
                        </a>
                    </li>
                    <li>
                        <a href="http://">
                            <i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;
                            wanderlust
                        </a>
                    </li>
                    <li>
                        <a href="http://">
                            <i class="fa-brands fa-x-twitter"></i>&nbsp;&nbsp;
                            wanderlust
                        </a>
                    </li>
                    <li>
                        <a href="http://">
                            <i class="fa-brands fa-youtube"></i>&nbsp;&nbsp;
                            #Wanderlust
                        </a>
                    </li>
                </ul>
            </p>
        </div>
    </div>
    <hr>
    <div class="footerSecondChild">
        <div class="footerSecondOne">
            <div>
                <i class="fa-solid fa-copyright"></i>&nbsp;
                2024 Wanderlust, Inco.
            </div>
            &nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;
            <div>
                <a href="#">
                    Privacy
                </a>
            </div>
            &nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;
            <div>
                <a href="#">
                    Terms
                </a>
            </div>
            &nbsp;&nbsp;&nbsp; . &nbsp;&nbsp;&nbsp;
            <div>
                <a href="#">
                    Sitemap
                </a>
            </div>
            &nbsp;&nbsp;&nbsp; . &nbsp;&nbsp;&nbsp;
            <div>
                <a href="#">
                    Company Details
                </a>
            </div>
        </div>
        <div class="footerSecondTwo">
            <div>
                <a href="#">
                    <i class="fa-solid fa-globe"></i>
                    English
                </a>
            </div>
            <div style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                <b>&#8377; INR</b>
            </div>
        </div>
    </div>
</div>