<% layout("/layouts/boilerplate.ejs") %>
<style>
    .footer{
        position: absolute;
        width: 99.61%;
        padding: 0.1rem;
        margin-top: 1rem;
    }
</style>
<body>
    <div class="errormsg">
        <%= message %>
    </div>
</body>
</html>