body{
    margin: 0;
    padding: 0;
}
.header{
    position: sticky;
    top: 0;
    padding-bottom: 10rem;
    border: 0.12rem solid rgb(117, 188, 250);
    background-color: aliceblue;
    padding: 2.5rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    border-bottom: 0;
    box-shadow: 0.13rem 0.7rem 2rem rgb(156, 206, 251);
}
.flex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}
.subHead{
    font-size: 2.5rem;
    color: rgb(42, 118, 185);
    background-color: aliceblue;
    margin: 0rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 0.4rem 0.2rem 0.6rem rgb(156, 206, 251);
    text-decoration: underline double 0.1rem;
}
.list{
    margin-top: 1rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0.1rem;
    padding-left: 0;
    justify-content: space-around;
}
.card{
    margin: 2rem 1.4rem;
    padding: 2rem 4rem;
    flex : 0 0 20rem;
    cursor:pointer;
    text-decoration: none;
    line-height: 2.4rem;
    border-radius: 3rem;
    height: 27rem;
    box-shadow: 0.1rem 0.1rem 1rem rgb(0, 0, 0);
    transition: all 0.2s ease-in-out;
}
.card:hover{
    scale: 1.12;
}
.list-card-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 0 20rem;
}
.listCard{
    font-size: 1.4rem;
    line-height: 5rem;
    text-align: center;
    align-self: center;
    margin: 0;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
    border-radius: 1.4rem 2.7rem;
    cursor:text;
    z-index: 1;
}
#logoLink{
    text-decoration: none;
    color: rgb(2, 136, 254);
}
.signupBtn{
    border: 2px solid aliceblue;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 0.5rem 1.5rem;
    background: transparent;
    transition: all 0.15s ease-in-out;
    color: rgb(2, 136, 254);
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
.signupBtn:hover{
    background-color: rgb(194, 223, 249);
    border: 2px solid rgb(135, 197, 252);
    color: rgb(1, 70, 130);
}
.signup-subhead{
    border: 0;
    font-size: 2.3rem;
    text-decoration: underline double 0.1rem;
}
.listDetail{
    box-shadow: 1rem 1rem 2rem black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40rem;
    border-radius: 2rem;
    margin: 3rem auto;
    /* margin-bottom: 3rem; */
    position: sticky;
    z-index: 1;
    background-image: url('/photos/divBG.png');
    background-size: cover;
    text-align: center;
}
.image{
    border-radius: 2rem;
    height: 37rem;
    width: 40rem;
    cursor: pointer;
}
.listPageEffect{
    position: fixed;
    width: 90.8rem;
    z-index: 0;
}
.newBtn{
    padding: 1.2rem;
}
.form{
    border: 0.01rem solid black;
    line-height: 2.7rem;
    padding: 3rem;
    width: 60rem;
    margin-top : 1.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 2rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.form>div{
    margin-bottom: 2.6rem;
}
.form>div>textarea{
    margin-top: 1.3rem;
    font-size: 2rem;
    height: 20rem;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding-left: 1rem;
    border: 0.01rem solid rgb(219, 218, 218);
    padding-top: 1rem;
}
#imageFile{
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
input[type=file]::file-selector-button{
    margin: 0;
    border: none;
    background : linear-gradient(to right,rgb(252, 196, 196), rgb(196, 196, 253));
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
    padding: 0.5rem 0.8rem 0.5rem 1.5rem;
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form>div>input{
    margin-left: 2rem;
    font-size: 1.6rem;
    padding: 0.8rem;
    width: max-content;
    min-width: 35rem;
    border: 0.01rem solid rgb(219, 218, 218);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.form>div>input:hover,.form>div>textarea:hover{
    border : 0.01rem solid black;
}
.mapOuterDiv{
    margin: 4rem 20rem 1rem 20rem;
    font-size: 2.7rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    position: sticky;
    border-radius: 2rem;
    padding-bottom: 2rem;
}
.mapOuterDiv>p{
    margin: 0;
    padding-left: 1rem;
    text-decoration: underline 0.2rem black;
    text-shadow: 0.1rem 0.1rem 0rem black;
}
#map{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
    left: 1.2rem;
    height: 37rem;
    width: 53rem;
    border-radius: 32rem;
    box-shadow: 1rem 1rem 2rem rgb(178, 242, 251);
}
#editDescriptionDiv{
    margin-bottom: -0.2rem;
}
.editBtn{
    margin-top: 1rem;
}
.deleteBtn{
    margin-top: 1rem;
}
#imagePreviewDiv{
    margin-top: -3rem;
    margin-left: 3rem;
    text-align: left;
}
#imagePreview{
    margin-top: -2rem;
    border-radius: 1.2rem;
    height: 20rem;
    width: 18rem;
}
.cardBtn{
    margin-top: 22rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.editCard{
    font-size: 2.4rem;
    padding: 0.6rem 2rem;
    border-radius: 1.3rem;
    cursor: pointer;
    border: 0;
    background: transparent;
    color: white;
    display: none;
}
.editCard:hover{
    box-shadow: 0.2rem 0.2rem 2rem aliceblue;
}
.card:hover>.cardBtn>form>button.editCard{
    display: flex;
}
.dltBtn{
    margin-right: -2rem;
}
.edtBtn{
    margin-left: -2rem;
}
.btns{
    display:flex;
    flex-direction: row;
}
#newListingBtn{
    padding-top: 0.1rem;
}
.logoDiv{
    cursor: pointer;
}
#logo{
    height: 4rem;
    width: 5rem;
    margin-left: 0.8rem;
    margin-bottom: -0.3rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.1rem rgb(101, 101, 254);
}
.logo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: -2.4rem 0 -2rem -1rem;
    align-items: center;
    justify-content:space-between;
}
#logo-item2{
    padding-left: 1.7rem;
}
.webName{
    margin-top: 0.5rem;
}
.subHeadBtn{
    border: 2px solid black;
    width: max-content;
    padding: 3px 7px;
    position: absolute;
    top: 60px;
    display: none;
    left: 45%;
    position: fixed;
    z-index: 2;
}
#navHomeBtn{
    font-size: 0.06rem;
    box-shadow: 0 0 0;
}
.navHomeBtn{
    background-color: aliceblue;
}
.footer{
    border: 0.03rem solid rgba(131, 131, 131, 0.13);
    border-radius: 3rem 3rem 0 0;
    padding: 0.3rem;
    position: relative;
    bottom: -7.6rem;
    margin-top: 1rem;
    background-color: rgba(131, 131, 131, 0.13);
    box-shadow: 0 -0.7rem 1rem rgb(204, 203, 203);
    color: rgb(58, 58, 58);
}
.footerFirstChild{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footerFirstOne,.footerFirstTwo{
    flex-basis: 25rem;
}
.footerOneHead{
    margin: 0.5rem;
}
.footerOneContentList{
    list-style-type: none;
    padding: -1rem 1.5rem;
}
.footerOneContentList>li{
    padding: 0.1rem 0;
    margin: 0.3rem 0;
}
.footerOneContentList>li>a{
    color: rgb(142, 141, 141);
    text-decoration: none;
}
.footerOneContentList>li>a:hover{
    color: black;
}
.footerSecondChild{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#footerSupport{
    font-size: 1.1rem;
}
.footerSecondOne{
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
}
.footerSecondOne>div>a,.footerSecondTwo>div>a{
    text-decoration: none;
    color: black;
}
.footerSecondTwo>div{
    margin-right: 1.3rem;
    display: inline-block;
}
input,textarea{
    border-radius: 1.2rem;
}
#registerForm>div.form>div>i.fa-circle-info{
    opacity: 0;
    color: lightcoral;
    position: relative;
    top: 0;
    left: 0;
}
#registerForm>div.form>div>i.fa-check{
    opacity: 0;
    color: rgb(73, 249, 73);
    position: relative;
    top: 0;
    left: 2.3rem;
}
#description+#descriptionIconFill{
    position: relative;
    top: 2.6rem;
    left: -28.5rem;
}
.errormsg{
    margin: 5rem 12rem 13.7rem 12rem;
    padding: 1rem 5rem;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 5rem;
    background-color: #fecdcd;
    opacity: 0.9;
    border: 0.1rem solid rgb(254, 126, 126);
    box-shadow: 0.02rem 0.02rem 1rem lightcoral ;
    cursor: pointer;
    color: #cc0303;
    border-radius: 1.2rem;
}
.reviewModal{
    border: 0.1rem solid black;
    position: fixed;
    top: 12rem;
    left: 16rem;
    width: 45%;
    height: 36rem;
    z-index: 4;
    background-color: white;
    border-radius: 2.5rem;
    padding: 1rem 10rem;
    text-align: center;
    display: none;
}
#closeModal{
    border: 0.1rem solid rgb(175, 175, 175);
    font-size: 2rem;
    position: fixed;
    top: 13rem;
    right: 19rem;
    padding: 0.1rem 0.8rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 0.7rem;
    color: rgb(207, 207, 207);
}
#closeModal:hover{
    border-color: black;
    color: black;
}
 #reviewHead{
    margin: 0;
    padding: 0;
    text-decoration: underline double 0.08rem;
    font-size: 2rem;
 }
 #reviewBody{
    margin: 0.1rem;
    padding: 2rem;
    font-size: 1.6rem;
}
#rating{
    width: 100%;
}
.comment{
    margin: 1rem;
    margin-bottom: 0;
}
.comment>textarea{
    margin-top: 0.5rem;
    margin-left: -10rem;
    padding: 1.2rem;
    font-size: 1.7rem;
}
#footer{
    margin: -2rem;
    padding: 0;
}
#footer>button{
    border:0.06rem solid rgb(52, 160, 254);
    background-color: rgb(215, 239, 252);
    font-size: 2rem;
    border-radius: 1rem;
    padding: 0.2rem 5rem;
    margin-top: 0.6rem;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
#reviewIconFill,#reviewIconEmpty{
    display: none;
}
.showReviewBtn{
    position: relative;
    top: -34.25rem;
    left: -7.7rem;
    height: 12rem;
    width: 7rem;
    font-size: 1.4rem;
    background-image: url('/photos/divBG.png');
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: -11rem;
    border: 0;
    box-shadow: 0.1rem 0.1rem 0.2rem black;
    background-color: white;
    border-radius: 1.2rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 0.12rem;
    cursor: pointer;
}
.allReview{
    text-decoration: none;
    font-size: 1.6rem;
    color: blue;
    position: relative;
    top: 1.7rem;
}
#showDetailsBtn{
    position: relative;
    top: 0;
    left: -8.2rem;
}
#reviewCard{
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: none;
}
.reviewDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0.5rem;
    width: 98%;
    height: 98%;
    border-radius: 2rem;
    background-color: rgb(251, 244, 245);
    box-shadow: 0.2rem -0.2rem 0.2rem rgb(252, 219, 223);
}
.review{
    box-shadow: 0.1rem 0.1rem 0.2rem black;
    font-size: 1.3rem;
    width: 100%;
    background-color:rgb(251, 224, 251);
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    line-height: 3rem;
    text-align: center;
}
#review{
    z-index: 0;
    line-height: 3rem;
    margin-bottom: -3rem;
    cursor: pointer;
}
#reviewSubHead{
    z-index: 1;
}
.rDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#reviewDltBtn{
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.23rem;
    padding: 0.3rem 3rem;
    border-radius: 2rem;
    background-color: azure;
    border-color: rgb(184, 252, 252);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
#reviewDltBtn:hover{
    scale: 1.2;
}
.flashMsg{
    position: fixed;
    top: 44rem;
    left: 21rem;
    font-size: 2rem;
    border: 0.01rem solid rgb(125, 252, 125);
    background-color: rgb(167, 253, 167);
    width: 55rem;
    padding-left: 3rem;
    z-index: 3;
}
.msg{
    width: 100%;
    margin-bottom: -2.7rem;
    letter-spacing: 0.13rem;
}
.msg~button{
    font-size: 1.8rem;
    margin-left: 50rem;
    margin-top: 0.75rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.msg~button:hover{
    scale: 1.4;
}